<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{recipe.recipe_name}}</h5>

          <img src="/uploads/{{recipe.recipeImage}} " class="recipe-full-image"/>
          <p>
            {{!-- replace this ingredients variable with a handlebars loop that will display all of the correct information  --}}
            <strong>Ingredients</strong>:
              {{#each recipe.ingredients}}
                <h3>{{name}} - {{amount}}</h3>
              {{/each}}
          </p>



          {{!-- replace this ingredients variable with a handlebars loop that will display all of the correct information  --}}
          {{!-- <p>
          <strong>Recipes</strong>:
          {{#each recipes}}
            <h3>{{recipe_name}}</h3>
          {{/each}}
          </p> --}}

          <p>
            <strong>Directions</strong>: {{recipe.directions}}</p>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
