<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 id="recipe-header" class="card-title">{{recipe.recipe_name}}</h2>
          

          <img src="/uploads/{{recipe.recipeImage}}" id="recipe-full-image" class="img-fluid"/>
          <h4>Ingredients:</h4>
          <p>
            {{!-- replace this ingredients variable with a handlebars loop that will display all of the correct information  --}}
              {{#each recipe.ingredients}}
                <p>{{name}} — {{amount}}</p>
              {{/each}}
          </p>

          <h4>Directions:</h4>
          <p>{{recipe.directions}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
